{% extends 'main/base.html.twig' %}

{% block title %}Homepage - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}


{% block body %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner banner-big">
                    <a href="{{ path('main_category_show', {'slug': 'jeans'}) }}">
                        <img src="{{ asset('build/images/banner/collection/banner_1.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <h3 class="banner-subtitle">
                            {{ 'main_page.new'|trans }}
                        </h3>
                        <h2 class="banner-title">
                            {{ 'category_title.jeans'|trans }}
                        </h2>
                        <a href="{{ path('main_category_show', {'slug': 'jeans'}) }}" class="btn btn-link">
                            {{ 'main_page.show'|trans }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="banner banner-big">
                    <a href="{{ path('main_category_show', {'slug': 'jackets'}) }}">
                        <img src="{{ asset('build/images/banner/collection/banner_2.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <h3 class="banner-subtitle">
                            {{ 'main_page.discounts'|trans }}
                        </h3>
                        <h2 class="banner-title">
                            {{ 'category_title.jackets'|trans }}
                        </h2>
                        <a href="{{ path('main_category_show', {'slug': 'jackets'}) }}" class="btn btn-link">
                            {{ 'main_page.show'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1 justify-content-center align-items-center">
            <div class="col-md-6 col-lg-4">
                <div class="banner banner-middle">
                    <a href="{{ path('main_category_show', {'slug': 'shirts'}) }}">
                        <img src="{{ asset('build/images/banner/collection/banner_3.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <a href="{{ path('main_category_show', {'slug': 'shirts'}) }}" class="btn btn-link">
                            {{ 'category_title.shirts'|trans }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner banner-middle">
                    <a href="{{ path('main_category_show', {'slug': 't-shirts'}) }}">
                        <img src="{{ asset('build/images/banner/collection/banner_4.jpg') }}" alt="banner">
                    </a>

                    <div class="banner-content">
                        <a href="{{ path('main_category_show', {'slug': 't-shirts'}) }}" class="btn btn-link">
                            <nobr>{{ 'category_title.t-shirts'|trans }}</nobr>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner banner-middle">
                    <a href="{{ path('main_category_show', {'slug': 'sneakers'}) }}">
                        <img src="{{ asset('build/images/banner/collection/banner_5.jpg') }}" alt="banner">
                    </a>
                    <div class="banner-content">
                        <a href="{{ path('main_category_show', {'slug': 'sneakers'}) }}" class="btn btn-link">
                            {{ 'category_title.sneakers'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ render(controller('App\\Controller\\Main\\EmbedController::showLastProducts', {
        'productCount': 4
    })) }}
{% endblock %}
